body {
	font-weight: 700;
	text-align: center;
}

#freePark, #go2Jail, #justVisiting, #start {
	width: 9.375rem;
	height: 9.375rem;
}

#chanceCard, #comChestCard {
	border-style: dashed;
}

.player1Token {
	width: 4rem;
	height: 4rem;
	
}

.img-overlay {
	position: absolute;
	top: 20px;
	left: 10px;
	z-index: 100;
}
