body {
	font-weight: 700;
	text-align: center;
}

#freePark, #go2Jail, #justVisiting, #start {
	width: 9.375rem;
	height: 9.375rem;
}

#chanceCard, #comChestCard {
	border-style: dashed;
}

.player1Token {
	width: 3.8rem;
	height: 3.8rem;
	
}

.img-overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}

#chanceCard {
	background-color: #3366ff;
	color: #FFFFFF;
}

#comChestCard {
	background-color: #4CAF50;
	color: #FFFFFF;
}